.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.logo {
    width: 700px; /* Ajuste para hacerlo más grande */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}
