.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4fafc;
    padding: 15px 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links li a {
    color: rgb(12, 12, 12);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
    color: #f57309;
    transform: scale(1.1);
}
